<!-- views/listings/index.ejs -->

<%- include('../partials/_html-head.ejs', {title: 'Listings' }) %>
<%- include('../partials/_nav-bar.ejs') %>



        <main>
            <h1>Here's all the Listings</h1>
        </main>
        </body>

        </html>