<%- include('../partials/_html-head.ejs', {title: 'Listings' }) %>
<%- include('../partials/_nav-bar.ejs') %>

<main>
<h1>Add a new listing!</h1>
<article>
<form action="/listings" method="POST">
    <label for="streetAddress">Address</label>
    <input type="text" name="streetAddress" id="streetAddress" required>

    <label for ="city">City</label>
    <input type="text" name="city" id="city" required>

    <label for="price">Price</label>
    <input type="number" min="0" name="price" id="price" required>

    <label for="size">Size</label>
    <input type="number" min="0" name="size" id="size" required>

    <button type="submit">Submit</button>
</form>
</article>
</main>
</body>

</html>